
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import '~react-vis/dist/style.css';

.card-hover .read-more:hover {
  font-size: 14px;
}

.card-hover:hover {
  box-shadow: 8px 8px 8px #8c98a4;
  transform:scale(1.02);
  border: 1px solid #8c98a4;
}

.card-hover {
  border:1px solid black;
  transition:.3s;
  margin: 3rem;
}

