
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import '~react-vis/dist/style.css';

body {
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
}

.navbar-brand-logo {
  height: 60px;
}
.card-hover .read-more:hover {
  font-size: 14px;
}

.card-hover:hover {
  box-shadow: 8px 8px 8px #8c98a4;
  transform:scale(1.02);
  border: 1px solid #8c98a4;
}

.card-hover {
  border:1px solid black;
  transition:.3s;
  margin: 3rem;
}

a.text-muted{
  color: #fff;
}

.big-number {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.dashboard-card {
  border: 1px solid #666;
  background-color: #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 160px;
  border-radius: 10px;
}

.dashboard-card-blue {
  border: 1px solid #000011;
  background-color: #000066;
  color: #cecece;
}

.dashboard-row {
  padding-bottom: 30px;
}

.hidden {
  display: none;
}

.loading-placeholder {
  color: #bbb;
}


.loading-placeholder-transparent {
  color: rgba(0, 0, 0, 0);
}
